<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>969307232289-3prmseln0rdfqqerafl7qumq35kk09u1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVNNLdViRVfwMVHmGhF8WEwUJ2z0YvX7w</string>
	<key>GCM_SENDER_ID</key>
	<string>969307232289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qiot.asthmaapp</string>
	<key>PROJECT_ID</key>
	<string>qiot-330510</string>
	<key>STORAGE_BUCKET</key>
	<string>qiot-330510.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969307232289:ios:ee4797c8f450c9467eeb60</string>
</dict>
</plist>